@page "/products/edit/{id:guid}"
@using System.Text.Json
@using System.Text.Json.Serialization
@using Warehouse.Core.Manufacturers.Models
@using Warehouse.Core.ParcelsInfos.Models
@using Warehouse.Core.Products.Dtos
@using Warehouse.Core.Products.Models
@inject IHttpClientFactory ClientFactory
@inject HttpClient http
@inject NavigationManager Navigation

<h3>Edit Product</h3>

<EditForm Model="editProduct" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <InputText id="name" class="form-control"  @bind-Value="editProduct.Name" />
    </div>

    <div class="mb-3">
        <label for="manufacturer" class="form-label">Manufacturer</label>
        <InputSelect id="manufacturer" class="form-control" @bind-Value="editProduct.ManufacturerId">
            <option value="">Select Manufacturer</option>
            @foreach (var manufacturer in manufacturers)
            {
                <option value="@manufacturer.Id">@manufacturer.Name</option>
            }
        </InputSelect>
    </div>

    <div class="mb-3">
        <label for="parcelInfo" class="form-label">Parcel Info</label>
        <InputSelect id="parcelInfo" class="form-control" @bind-Value="editProduct.ParcelInfoId">
            <option value="">Select Parcel Info</option>
            @foreach (var parcel in parcelInfos)
            {
                <option value="@parcel.Id">@($"{parcel.Length} x {parcel.Width} x {parcel.Height}")</option>
            }
        </InputSelect>
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <InputNumber id="price" class="form-control" @bind-Value="editProduct.Price" />
    </div>

    <div class="mb-3">
        <label for="availableAmount" class="form-label">Available Amount</label>
        <InputNumber id="availableAmount" class="form-control" @bind-Value="editProduct.AvailableAmount" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary" @onclick="NavigateToProducts">Cancel</button>
</EditForm>

@code {
    [Parameter]
    public Guid Id { get; set; }

    private ProductDto editProduct = new();
    private List<ParcelInfo> parcelInfos = new();
    private List<Manufacturer> manufacturers = new();

    protected override async Task OnInitializedAsync()
    {

        parcelInfos = await http.GetFromJsonAsync<List<ParcelInfo>>("https://localhost:7125/api/parcel-info")
                      ?? new List<ParcelInfo>();
        manufacturers = await http.GetFromJsonAsync<List<Manufacturer>>("https://localhost:7125/api/manufacturer")
                        ?? new List<Manufacturer>();
        await LoadProduct();
    }

    private async Task LoadProduct()
    {
        try
        {
            HttpClient httpClient = ClientFactory.CreateClient();
            httpClient.DefaultRequestHeaders.Add("Accept", "application/json");

            var product = await httpClient.GetFromJsonAsync<Product>($"https://localhost:7125/api/products/{Id}");

            if (product != null)
            {
                editProduct = new ProductDto
                    {
                        Id = Id,
                        Name = product.Name,
                        ManufacturerId = product.Manufacturer.Id,
                        ParcelInfoId = product.ParcelInfo.Id,
                        Price = product.Price,
                        AvailableAmount = product.AvailableAmount
                    };
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }



    private async Task HandleValidSubmit()
    {
        try
        {
            HttpClient httpClient = ClientFactory.CreateClient();
            httpClient.DefaultRequestHeaders.Add("Accept", "application/json");

            var response = await httpClient.PutAsJsonAsync($"https://localhost:7125/api/products/{Id}", editProduct);
            if (response.IsSuccessStatusCode)
            {
                Navigation.NavigateTo("/products");
            }
            else
            {
                Console.WriteLine("Error updating product");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    private void NavigateToProducts()
    {
        Navigation.NavigateTo("/products");
    }
}